<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">

    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/xrange.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <title>プロフィール</title>
</head>

<body>

    <header>
        鴨野 誠のプロフィール
    </header>
    <div id="basicinfo">
        <div class="text">
            <p class="name">鴨野 誠</p>
            <p class="school">金沢大学 理工学域 フロンティア工学類 3年</p>
            <p class="grad">2024年3月卒業予定</p>
            <p class="birthday">2001/10/15 生</p>
            <p class="adress">石川県金沢市出身</p>
            <p class="github"><a href="https://github.com/Mkamono" target="_blank" rel="noopener noreferrer">github</a>
            </p>
            <p class="qiita"><a href="https://qiita.com/KMNMKT" target="_blank" rel="noopener noreferrer">qiita</a></p>
            <p class="mail">kamonomakoto@gmail.com</p>
        </div>
        <div class="image">
            <img src="./image.jpg" alt="" srcset="">
            <p class="discription">↑ある演奏会の楽屋での一枚</p>
        </div>

    </div>

    <div id="graph">
        <figure class="highcharts-figure">
            <button class="swichgraph" v-if="showgraph" @click="swichsheet('none')">表形式に切り替え</button>
            <button class="swichgraph" v-if="!showgraph" @click="swichsheet('block')">グラフに切り替え</button>
            <div id="container" :style="('display: '+ graphdisplay)"></div>
        </figure>
        <div id="sheet" v-if="!showgraph">
            <table class="careertable">
                <tr>
                    <th>項目</th>
                    <th>開始</th>
                    <th>終了</th>
                </tr>
                <tr v-for="val in graphdata">
                    <td>{{ career[val.y].name }}</td>
                    <td>{{formatDate(val.x)}}</td>
                    <td>{{formatDate(val.x2)}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div id="app">
        <div class="heading">
            <h1 class="heading">制作物など</h1>
            <div class="flexbox">
                <div class="subheading">
                    <h2 class="subheading"><a href="https://github.com/Mkamono/Letter_identify" target="_blank"
                            rel="noopener noreferrer">機械学習(文字認識)</a></h2>
                    <div class="text">
                        <p>使用技術:python3, Octave</p>
                        <p>実施時期:2021/6</p>
                        <p class="text">
                            大学2年生のときに受けた
                            <a href="https://www.coursera.org/learn/machine-learning" target="_blank"
                                rel="noopener noreferrer">Cousera Machine Learnig</a>
                            のコースで学んだ内容のアウトプットです。講義ではOctave(Matlab)を使っていましたが、自分の理解を確かめるためにpythonで書き直してみました。
                            コードの内容について<a href="https://qiita.com/KMNMKT/items/ec3fa62afe6999f6bdf0" target="_blank"
                                rel="noopener noreferrer">Qiita</a>で詳しく解説しています。
                            ただ教材の焼き増しでは成長しないと思ったので、自分で学習の最適化の方法を考え、実際にある程度の結果を出すことができました。
                            複数人のチーム内で様々な議論を交わすことができました。
                        </p>
                    </div>
                </div>

                <div class="subheading">
                    <h2 class="subheading"><a href="https://github.com/Mkamono/simplifyLMS" target="_blank"
                            rel="noopener noreferrer">学内ポータルのUI改善拡張機能</a></h2>
                    <div class="text">
                        <p>使用技術:javascript, jQuery</p>
                        <p>実施時期:2021/12</p>
                        <p class="text">金沢大学のLMS(Learning Manegement System)はあまり見やすいものではなく、周りの評判も良くなかったので
                            chromeの拡張機能を作成し、<a
                                href="https://chrome.google.com/webstore/detail/simplify-lms/kehngeakjahfdlkcjcfhnponpfokljoi?hl=ja"
                                target="_blank" rel="noopener noreferrer">公開しました</a>。
                            個人ですべての工程を完了したのはこれが初めてでした。身近な人からのフィードバックが糧となり、改良を進めることができました。
                            また、不具合などが挙げられ、それを修正するという過程が新鮮でした。
                        </p>
                    </div>
                </div>

                <div class="subheading">
                    <h2 class="subheading"><a href="https://github.com/Mkamono/yumemi_front_codecheck" target="_blank"
                            rel="noopener noreferrer">都道府県の人口推移グラフを含むWebサイト</a></h2>
                    <div class="text">
                        <p>使用技術:javascript, Vue.js</p>
                        <p>実施時期:2022/3</p>
                        <p class="text"><a href="https://www.yumemi.co.jp/" target="_blank"
                                rel="noopener noreferrer">株式会社ゆめみ</a>さんに応募した際、コード試験の提出物として作成しました。
                            サイトの閲覧は<a
                                href="https://mkamono.github.io/yumemi_front_codecheck/?apikey=jDzXC6uVy84gInG2TYSEqDnVazXMXEDoXSo05EnH"
                                target="_blank" rel="noopener noreferrer">こちら</a>
                            からどうぞ。<br>この課題ではgitの扱いを深く考えながら作成しました。このときはじめてVue.jsを触りましたが、とても革新的な思想だと思いました。
                            試験の結果こそ不合格でしたが、フィードバックが丁寧で、参考になることばかりでした。
                        </p>
                    </div>
                </div>

                <div class="subheading">
                    <h2 class="subheading">リアルタイム映像配信サイトの開発(株式会社能登)</h2>
                    <div class="text">
                        <p>使用技術:python, javascript, jQuery</p>
                        <p>実施時期:2021/7</p>
                        <p class="text">
                            raspberry pi から連続的に送られてくる画像を表示し、遠隔で道路状況などを確認するためのサイトの開発をしました。
                            誰かの書いたコードを理解し、それをもとに自分が作り上げたい構造を組み立てていくのはとても難しかったです。
                            ハードウェア的なバグも多く、これまで仮想的な環境でやってきたことが通じなく苦労することもありました。
                        </p>
                    </div>
                </div>

                <div class="subheading">
                    <h2 class="subheading">社員労働状況のビジュアル化、メール送信の自動化(株式会社Arent)</h2>
                    <div class="text">
                        <p>使用技術:GAS(Google Apps Script)</p>
                        <p>実施時期:2022/3</p>
                        <p class="text">
                            各社員が出勤、退勤したデータをもとに、法律に触れる前にアラートを確認するためのツールを開発しました。
                            スプレッドシートをデータベースのように使い、どうビジュアライズすると見やすいかということをずっと考えていました。
                        </p>
                    </div>
                </div>

                <div class="subheading">
                    <h2 class="subheading">社内法人基盤の作成(株式会社ラクスル)</h2>
                    <div class="text">
                        <p>使用技術:Go, React.js</p>
                        <p>実施時期:2022/8</p>
                        <p class="text">
                            サービスに登録する際の情報を利用し、外部のサービスと連携させることで企業の信用情報を取得し、条件に応じて適切な方法で通知するサービスを作りました。
                            ハッカソン形式で4人チーム、メンター2人でモブ、ペアプロしながら開発しました。
                        </p>
                    </div>
                </div>

                <div class="subheading">
                    <h2 class="subheading">サービスのテスト作成、その他開発など(株式会社BLAM)</h2>
                    <div class="text">
                        <p>使用技術:Go, GORM, MySQL</p>
                        <p>実施時期:2022/8</p>
                        <p class="text">
                            サービスの更新コスト削減のためテストを実装しています。また、様々な業務に関わらせていただきながら働いています。
                            フルリモートでインターンをしています。
                        </p>
                    </div>
                </div>

                <div class="subheading">
                    <h2 class="subheading">スキルセット</h2>
                    <div class="text">
                        <h3>現在保有</h3>
                        <p class="text">
                            python(numpy, pandas, flask, Django), javascript(jQuery, Vue.js), Go, GAS, Git, Github, Docker,
                            SQL, AWS(勉強中)
                        </p>
                        <h3>これから学びたいもの</h3>
                        <p class="text">
                            AWS, typescript, OpenAPI
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="feature">
            <div class="heading">
                <h1 class="heading">就職</h1>
                <div class="subheading">
                    <h2 class="subheading">目指すエンジニア像</h2>
                    <div class="text">
                        <p class="text">
                            5年、10年、もしくはそれよりまだ先になるかもしれませんが、将来的にはフルスタックエンジニアの知識を持ったスペシャリストになりたいと考えています。
                            後述する音楽の経験から、隣接する領域をどんどん学んでいくことは、従来の領域への理解にも繋がり、より伝わりやすい仕事ができると考えています。
                            3~5年は割り当てられた一つの領域で十分働けるようになるまで頑張り、その後経験に絡めながら全く経験したことのない領域にも踏み込んでいきたいと考えています。
                            ある程度全体の技術を身に着けた後にはまた一つの領域に戻り、全体を俯瞰できるようになったうえで専門的な技術を扱えるエンジニアになりたいです。
                            そういった技術を身につけることで、誰よりも顧客、製品を理解し、最も見通しの効く人間になりたいです。
                            また、プロダクトを生み出す過程で、任せられた作業をただやるのではなく、なにか学びを得られないかと模索しながら仕事をしたいです。
                        </p>
                    </div>
                </div>


                <div class="subheading">
                    <h2 class="subheading">成し遂げたいこと</h2>
                    <div class="text">
                        <p class="text">
                            「技術を日常にする」ということを夢見ています。自分が今後開発していきたいと思えるプロダクトは、技術として珍しい、すごいといったものよりも人々の生活に当たり前のように馴染んでしまうものです。
                            誰もが意識せずに使い、世界の歯車として自分の技術が自然に広まっていく様子を夢見ています。
                        </p>
                    </div>
                </div>


                <div class="subheading">
                    <h2 class="subheading">希望条件</h2>
                    <div class="text">
                        <p class="text">
                            できれば地元に残って就職をしたいので、北陸での勤務、リモート環境での勤務を希望しています。
                            新卒のエンジニアの給料というのは、労働に対して高く設定されている事がほとんどだと思うので、
                            まずはその額に見合うだけの働きができるよう頑張りたいです。そのために企業には成長の機会が多くあると望ましいです。
                            新卒に手をかけて教育するのは大変なコストが掛かるとは思いますが、そういった取り組みを続けられる企業にこそ未来があると思います。
                        </p>
                    </div>
                </div>
            </div>


            <div class="heading">
                <h1 class="heading">学生時代</h1>
                <div class="subheading">
                    <h2 class="subheading">プログラミングとの出会い</h2>
                    <div class="text">
                        <p class="text">
                            大学一年生の夏頃は、コロナウイルスにより学業を含む様々な活動が制限されていました。
                            「せっかく時間があるのだから、今までやったことのないことに挑戦してみよう」と、ありきたりな理由でプログラミングに興味を持ちました。
                            春頃に受けた授業の中で、プログラミングについて話している先生がいたことを思い出し、その先生にpythonを教わりました。
                            教わったと言っても、最初に勉強の方針、全体像を解説してもらい、その後は一週間に一度程度わからないところを聞きに行ったり、進捗を報告したりしていました。
                            僕の人生に大きく関わったであろう先生にはとても感謝しています。
                        </p>
                    </div>
                </div>

                <div class="subheading">
                    <h2 class="subheading">音楽の世界</h2>
                    <div class="text">
                        <p class="text">
                            高校時代は吹奏楽部に所属していました。チームはピザを分け合える人数がちょうど良い、と言われますが、大規模な吹奏楽部ではそうもいかず、意思の疎通や熱量の差によって崩壊寸前にまで追い込まれた時期もありました。
                            そんな部活の中で副部長になった際に「パーリー会」を作りました。これは、各パート(楽器ごと)のリーダーが練習後に集まりコミュニケーションを取るだけの会です。
                            しかしこのとりくみは今まで幹部と一般部員という図式を壊し、一般部員にとって頻繁に会うパートリーダーに意見を伝えれば必ず聞いてもらえるメリットを感じてもらえました。
                            その結果部活動全体で一体感が向上し、活発な議論が行われるようになったと思います。

                            また、高校生の時からバンドをやっていましたが、その高校には軽音部がありませんでした。
                            大学に入って初めて本気で音楽をやれたような気がします。
                            僕はギターをはじめ、ベース、キーボード、エアロフォン(電子サックス)、ファゴット(吹奏楽器)、少しのドラムをやっています。
                            いろいろな楽器に努力を散らしてしまったとも言えますが、僕はこの経験に感謝しています。
                            それは、一曲を作り上げる過程で、自分の楽器が他の人とどのように関わっているのか、どうすれば曲として良くなるのかという
                            広い視点と余裕を持つことができたからです。他の楽器の経験が、回り回ってまた他の楽器に役立つ糧となる過程でうまくなった演奏は、
                            個人でずっと練習をしたスペシャリストとはまた違う演奏になります。そういった経験があるからこそ、挑戦には価値があると、深く思います。
                        </p>
                    </div>
                </div>
            </div>



            <div class="heading">
                <h1 class="heading">性格</h1>
                <div class="subheading">
                    <h2 class="subheading">自覚している性格</h2>
                    <div class="text">
                        <p class="text">
                            世の中には物事の粒を見たい人間と全体を見たい人間がいます。僕は後者です。全体の中で自分がどういう役割を果たしているのかがわかるだけで作業により集中できます。
                            取り組んでいるタスクが、なんのために行われているのか、全体でどのような立ち位置の作業なのかを知りたがります。
                            マルチタスクが苦手なので、目の前にあるものからさっさと処理していくことが得意です。
                        </p>
                    </div>
                </div>

            </div>
        </div>



    </div>
</body>
<script src="main.js"></script>
<script src="graph.js"></script>

</html>